@import url(https://fonts.googleapis.com/css?family=Bitter);
@import url(https://fonts.googleapis.com/css?family=Raleway);
html, body {
  padding: 0;
  margin: 0;
  background-color: #f2f2f2; }
  html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Bitter", serif;
    color: #C7555D; }
  html h1, body h1 {
    font-size: 36px; }
  html p, body p {
    font-family: "Raleway", sans-serif;
    color: #242323; }
  html figcaption, body figcaption {
    font-family: "Raleway", sans-serif; }
  html hr, body hr {
    border: 0;
    height: 1px;
    margin-top: 20px;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

.header {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #EF7534; }

.navbar {
  float: left; }
  .navbar li {
    list-style-type: none;
    display: inline-block; }
    .navbar li h3 {
      margin: 0; }
    .navbar li a {
      padding: 5px 15px;
      color: #f2f2f2;
      text-decoration: none;
      display: block; }
      .navbar li a:hover {
        color: #FFDFAE;
        transition: color .2s; }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    .navbar ul {
      padding: 0; }
    .navbar h3 {
      font-size: 15px; } }

#index {
  height: 100%;
  width: 100%;
  background-image: url("/img/laptop.jpg");
  background-size: cover; }
  #index .intro {
    position: relative;
    top: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    #index .intro h1 {
      font-size: 50px;
      color: #f2f2f2; }
    #index .intro p {
      font-size: 18px;
      color: #f2f2f2; }
    @media screen and (min-width: 360px) and (max-width: 767px) {
      #index .intro h1 {
        font-size: 40px; }
      #index .intro p {
        font-size: 16px; } }

.nextpage {
  background-color: #C7555D;
  border: 2px solid #C7555D;
  border-radius: 8px;
  padding: 0;
  width: 151px;
  transition: background-color .3s;
  margin: auto;
  background-color: #EF7534;
  border-color: #EF7534; }
  .nextpage:hover {
    background-color: #f2f2f2;
    transition: background-color .2s; }
  .nextpage h1, .nextpage h2, .nextpage h3, .nextpage h4, .nextpage h5, .nextpage h6 {
    margin: 0; }
  .nextpage a {
    color: #f2f2f2;
    width: 130px;
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: color .3s; }
    .nextpage a:hover {
      color: #C7555D;
      transition: color .2s; }
  .nextpage a:hover {
    color: #EF7534; }

#about {
  height: 100%;
  width: 100%; }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    #about {
      height: 175%; } }

.bio {
  float: left;
  position: relative;
  top: 100px;
  width: 40%;
  text-align: justify;
  margin: 0 10px 10px 80px; }
  .bio p {
    font-size: 18px; }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    .bio {
      top: 0;
      width: 80%;
      padding: 5px;
      margin: 20px 20px 0 20px;
      float: none; }
      .bio P {
        font-size: 16px; } }
  @media screen and (min-width: 768px) and (max-width: 947px) {
    .bio {
      top: 10px;
      width: 95%;
      margin: 20px 20px 0 20px;
      float: none; }
      .bio P {
        font-size: 16px; } }

.skills {
  float: right;
  margin: 0 auto;
  position: relative;
  top: 100px;
  width: 40%;
  margin: 0 80px 10px 10px;
  text-align: justify; }
  .skills p {
    font-size: 18px; }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    .skills {
      top: 0;
      width: 80%;
      padding: 5px;
      margin: 20px 20px 0 20px;
      float: none; }
      .skills P {
        font-size: 16px; } }
  @media screen and (min-width: 768px) and (max-width: 947px) {
    .skills {
      top: 0;
      width: 95%;
      margin: 0 20px 20px 20px;
      float: none; }
      .skills p {
        font-size: 16px; } }

#projects {
  clear: both;
  height: 100%;
  width: 100%;
  color: #242323; }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    #projects {
      height: 180%; } }

.work {
  float: left;
  height: 100%;
  width: 35%;
  padding: 1px; }
  .work span {
    position: relative;
    top: 230px;
    text-align: center; }
  .work h1 {
    font-weight: 700; }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    .work {
      width: 100%;
      height: 80px;
      position: relative;
      float: none; }
      .work span {
        top: 30px; } }
  @media screen and (min-width: 768px) and (max-width: 1215px) {
    .work {
      width: 100%;
      height: 100px;
      position: relative;
      float: none; }
      .work span {
        top: 30px; } }

.gallery {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 55%;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .gallery h5 {
    margin: 0; }
  .gallery .flexitem {
    padding: 30px;
    margin: 0 15px 0 0; }
    .gallery .flexitem img {
      height: 100px;
      width: 200px;
      border: 1px solid transparent;
      border-radius: 10px; }
    .gallery .flexitem .caplink {
      background-color: #C7555D;
      border: 2px solid #C7555D;
      border-radius: 8px;
      padding: 0;
      width: 151px;
      transition: background-color .3s;
      margin-top: 15px; }
      .gallery .flexitem .caplink:hover {
        background-color: #f2f2f2;
        transition: background-color .2s; }
      .gallery .flexitem .caplink h1, .gallery .flexitem .caplink h2, .gallery .flexitem .caplink h3, .gallery .flexitem .caplink h4, .gallery .flexitem .caplink h5, .gallery .flexitem .caplink h6 {
        margin: 0; }
      .gallery .flexitem .caplink a {
        color: #f2f2f2;
        width: 130px;
        padding: 10px;
        display: block;
        text-align: center;
        text-decoration: none;
        transition: color .3s; }
        .gallery .flexitem .caplink a:hover {
          color: #C7555D;
          transition: color .2s; }
    .gallery .flexitem figcaption {
      line-height: 20px;
      margin: 5px;
      display: inline-flex; }
  @media screen and (min-width: 360px) and (max-width: 767px) {
    .gallery {
      width: 100%;
      height: 100%;
      position: relative;
      top: 30px;
      float: none;
      text-align: center;
      flex-direction: column;
      justify-content: center; } }
  @media screen and (min-width: 768px) and (max-width: 1215px) {
    .gallery {
      width: 100%;
      height: 0;
      position: relative;
      top: 280px;
      float: none;
      text-align: center;
      justify-content: center; } }

#contact {
  clear: both;
  height: 100%;
  width: 100%;
  color: #fff; }

.contactinfo {
  position: relative;
  top: 220px;
  text-align: center;
  height: 50px; }
  .contactinfo .resume {
    background-color: #C7555D;
    border: 2px solid #C7555D;
    border-radius: 8px;
    padding: 0;
    width: 151px;
    transition: background-color .3s;
    margin: 15px auto; }
    .contactinfo .resume:hover {
      background-color: #f2f2f2;
      transition: background-color .2s; }
    .contactinfo .resume h1, .contactinfo .resume h2, .contactinfo .resume h3, .contactinfo .resume h4, .contactinfo .resume h5, .contactinfo .resume h6 {
      margin: 0; }
    .contactinfo .resume a {
      color: #f2f2f2;
      width: 130px;
      padding: 10px;
      display: block;
      text-align: center;
      text-decoration: none;
      transition: color .3s; }
      .contactinfo .resume a:hover {
        color: #C7555D;
        transition: color .2s; }
  .contactinfo h1 {
    font-weight: 700;
    margin: 0; }
  .contactinfo p {
    font-size: 20px; }
  .contactinfo img {
    margin: 15px; }

.footer {
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 5px;
  position: relative;
  background-color: #EF7534;
  border-top: 1px solid #EF7534; }
  .footer p {
    margin: 0;
    text-align: center;
    color: #f2f2f2; }
